{% extends "statements/statement_template.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}

<form method="GET" action="{{url_for('balanceStatementAdjusted')}}" class="mt-5 ml-2">
  <div class="card">
      <div class="form-group">
          <div class="text-center">
              <label for="betweenDates col-12"><b>Search Between Dates</b></label>
          </div>
          <div class="col-12 row text-center">
              <div class="col-5 mx-auto my-auto">
                  {{ form.hidden_tag() }}
                  {{ wtf.form_field(form.rangestart) }}
              </div>
              <div class="col-5 mx-auto my-auto">
                  {{ wtf.form_field(form.rangeend) }}
              </div>
              <div class="col-2 mx-auto my-auto">
                  <button class="h-50 mx-auto">{{ wtf.form_field(form.submit) }}</button>
              </div>
          </div>
      </div>
  </div>
</form>
</div>


<div class="col-12 h-100" id="content">
    <div class="col-12 no-gutters">
        <div class="col-12 text-center">
            <img src="{{ url_for('static', filename='business_logos/' + current_user.businesslogo) }}" alt=""
                class="col-2">
            <h5>BALANCE STATEMENT</h5>
            <h6>{{ businessname }}</h6>
            <h6>{{ datestart }} -> {{ dateend }}</h6>
        </div>
    </div>
    <table class="table col-12">
        <thead class="">
            <tr class="text-light bg-secondary">
                <th scope="col">Cash Flow From Operation</th>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">Assets</th>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>Cash</td>
                <td>${{ cash }}</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>Accounts Receivable</td>
                <td>${{ accountsreceivable }}</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>Company Property</td>
                <td>${{propertyvalue}}</td>
                <td></td>
                <td></td>
            </tr>
            <tr class="text-light bg-secondary">
                <th scope="row">Totals Assets</th>
                <th scope="row">${{ assetstotal }}</th>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <th scope="row">Liabilities</th>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>Accounts Payable</td>
                <td>${{ accountspayable }}</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>Expenses</td>
                <td>${{ expenses }}</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>Sales Tax Withholding</td>
                <td>${{ salestaxwithholding }}</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>Long-Term Debt</td>
                <td>${{ longtermdebt }}</td>
                <td></td>
                <td></td>
            </tr>
            <tr class="text-light bg-secondary">
                <th scope="row">Totals Liabilities</th>
                <th scope="row">${{ totalliabilities }}</th>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <th scope="row">Equity</th>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>Owner's Equity</td>
                <!-- What the owner's have put into the company -->
                <!-- This is the INVESTMENTS the owner(s) has put into the company -->
                <!-- CREATE INVESTMENT TRANSACTION ADMIN ONLY -->
                <td>${{ ownersequity }}</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>Revenue</td>
                <td>${{ revenuetotal }}</td>
                <td></td>
                <td></td>
            </tr>
            <tr class="text-light bg-secondary">
                <!-- |||| (Owner's Equity + Revenue) - Expenses |||| -->
                <th scope="row">Totals Equity</th>
                <th scope="row">${{ totalequity }}</th>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>
</div>

{% endblock %}