{% extends "statements/statement_template.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}

<form method="GET" action="{{url_for('totalLossStatementAdjusted')}}" class="mt-5 ml-2">
    <div class="card">
        <div class="form-group">
            <div class="text-center">
                <label for="betweenDates col-12"><b>Search Between Dates</b></label>
            </div>
            <div class="col-12 row text-center">
                <div class="col-5 mx-auto my-auto">
                    {{ form.hidden_tag() }}
                    {{ wtf.form_field(form.rangestart) }}
                </div>
                <div class="col-5 mx-auto my-auto">
                    {{ wtf.form_field(form.rangeend) }}
                </div>
                <div class="col-2 mx-auto my-auto">
                    <button class="h-50 mx-auto">{{ wtf.form_field(form.submit) }}</button>
                </div>
            </div>
        </div>
    </div>
</form>
</div>

<div class="col-12 h-100" id="content">
    <div class="col-12 no-gutters">
        <div class="col-12 text-center">
            <img src="{{ url_for('static', filename='business_logos/' + current_user.businesslogo) }}" alt="" class="col-2">
            <h5>Total Loss Statement</h5>
            <h6>{{ businessname }}</h6>
            <h6>{{ startdate }} -> {{ enddate }}</h6>
        </div>
    </div>
    <table class="table col-12">
        <thead class="col-12">
            <tr class="col-12">
                <th scope="col">Losses</th>
                <th scope="col">Amount</th>
                <th scope="col">Year</th>
            </tr>
        </thead>
        <tbody class="col-12">
            <tr>
                <th scope="row">Advertising</th>
                <td>${{ advertising }}</td>
                <td>{{ year }}</td>
            </tr>
            <tr>
                <th scope="row">Debt</th>
                <td>${{ debt }}</td>
                <td>{{ year }}</td>
            </tr>
            <tr>
                <th scope="row">Cost of Materials</th>
                <td>${{costofmaterials}}</td>
                <td>{{ year }}</td>
            </tr>
            <tr>
                <th scope="row">Employee Benefits</th>
                <td>${{ employeebenefits }}</td>
                <td>{{ year }}</td>
            </tr>
            <tr>
                <th scope="row">Insurance</th>
                <td>${{ insurance }}</td>
                <td>{{ year }}</td>
            </tr>
            <tr>
                <th scope="row">Interest Expense</th>
                <td>${{ interestexpense }}</td>
                <td>{{ year }}</td>
            </tr>
            <tr>
                <th scope="row">Maintenance</th>
                <td>${{ maintenance }}</td>
                <td>{{ year }}</td>
            </tr>
            <tr>
                <th scope="row">Office Supplies</th>
                <td>${{ officesupplies }}</td>
                <td>{{ year }}</td>
            </tr>
            <tr>
                <th scope="row">Salaries and Wages</th>
                <td>${{ payroll }}</td>
                <td>{{ year }}</td>
            </tr>
            <tr>
                <th scope="row">Travel</th>
                <td>${{ travel }}</td>
                <td>{{ year }}</td>
            </tr>
            <tr>
                <th scope="row">Utilities</th>
                <td>${{ utilities }}</td>
                <td>{{ year }}</td>
            </tr>
            <tr>
                <th scope="row">Shipping</th>
                <td>${{ shipping }}</td>
                <td>{{ year }}</td>
            </tr>
            <tr>
                <th scope="row">Returns</th>
                <td>${{ returns }}</td>
                <td>{{ year }}</td>
            </tr>
            <tr>
                <th scope="row">Other</th>
                <td>${{ other }}</td>
                <td>{{ year }}</td>
            </tr>
            <tr class="text-light bg-secondary">
                <th scope="row">Total Losses</th>
                <td><b>${{ totallosses }}</b></td>
                <td></td>
            </tr>
        </tbody>
    </table>
</div>

{% endblock %}