{% extends "main_template.html" %}

{% block bodytag %}

<body class="vh-100 vw-100">
  {% endblock %}

  {% block content %}

  <script>
    $(document).ready(function () {
      var messages = "{{ get_flashed_messages() }}";

      if (typeof messages != 'undefined' && messages != '[]') {
        $("#transactionMessage").modal();
      };

      $('#changeemailform')
    });
  </script>

  <div class="col-10 h-100 bg-dark">
    <div class="row col-12 no-gutters h-100 justify-content-center">
      <div class="card my-auto">
        <img class="card-img-top col-2 align-self-center mt-5"
          src="{{ url_for('static', filename='business_logos/' + current_user.businesslogo) }}" alt="Business Logo">
        <div class="card-body">
          <h5 class="card-title text-center">{{ current_user.businessname }}</h5>
          <h6 class="card-title text-center">{{ current_user.businessaddress }}</h6>
          <h6 class="card-title text-center">{{ current_user.businesswebsite }}</h6>
          <div class="btn-group col-12">
            <button data-toggle="modal" data-target="#changepassword" class="col-6">Change Password</button>
            <button data-toggle="modal" data-target="#changeemail" class="col-6">Change Email</button>
          </div>
          <div class="btn-group col-12">
            <button data-toggle="modal" data-target="#changebusinessname" class="col-6">Change Business Name</button>
            <button data-toggle="modal" data-target="#changefiscalyear" class="col-6">Update Fiscal Year</button>
          </div>
          <div class="btn-group col-12">
            <button data-toggle="modal" data-target="#changebusinesswebsite" class="col-6">Change Business
              Website</button>
            <button data-toggle="modal" data-target="#changebalance" class="col-6">Update Current Balance</button>
          </div>
          <div class="btn-group col-12">
            <button data-toggle="modal" data-target="#changelogo" class="col-6">Update Logo</button>
          </div>

          <div class="col-12 text-center mt-5">
            <button data-toggle="modal" data-target="#cancelmembership" class="col-6 btn-danger text-center">Cancel
              Subscription</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>

  <div id="transactionMessage" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
          {% with messages = get_flashed_messages(category_filter=["error"]) %}
          {% if messages %}
          {% for message in messages %}
          <div class="alert alert-danger text-center">
            <div class=flashes>
              {% for message in messages %}
              {{ message }}
              {% endfor %}
            </div>
          </div>
          {% endfor %}
          {% endif %}
          {% endwith %}
          {% with messages = get_flashed_messages(category_filter=["success"]) %}
          {% if messages %}
          {% for message in messages %}
          <div class="alert alert-success text-center">
            <div class=flashes>
              {% for message in messages %}
              {{ message }}
              {% endfor %}
            </div>
          </div>
          {% endfor %}
          {% endif %}
          {% endwith %}
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>

      </div>
    </div>
  </div>
  </div>


  <div class="modal fade" id="cancelmembership" tabindex="-1" role="dialog" aria-labelledby="cancelmembership"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">

        <div class="modal-body">
          <h2 class="card-title text-center mt-4 text-danger">Membership Cancellation</h2>
          <hr>
          <form class="mb-3" method="POST" action="{{url_for('processCancellation')}}">
            <div class="row no-gutters col-12">
              <p>Are you sure you want to cancel your subscription to Flow?</p>
              <button class="btn-danger" type="submit">Yes, Cancel it.</button>
              <div class="modal-footer">
                <button type="button" data-dismiss="modal">Cancel</button>
              </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  </div>

  <div class="modal fade" id="changepassword" tabindex="-1" role="dialog" aria-labelledby="changepassword"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">

        <div class="modal-body">
          <h2 class="card-title text-center mt-4">Change Password</h2>
          <hr>
          <form class="mb-3" method="POST" action="{{url_for('businessInfo')}}">
            <div class="form-group col-12">
              {{ form2.hidden_tag() }}
              {{ wtf.form_field(form2.currentpassword) }}
            </div>
            <div class="row col-12 no-gutters">
              <div class="form-group col-6">
                {{ wtf.form_field(form2.password) }}
              </div>
              <div class="form-group col-6">
                {{ wtf.form_field(form2.validatepassword) }}
              </div>
            </div>
            <div class="col-12 text-center">
              <button>{{ wtf.form_field(form2.submit2) }}</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="changeemail" tabindex="-1" role="dialog" aria-labelledby="changeemail" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">

        <div class="modal-body">
          <h2 class="card-title text-center mt-4">Change Email</h2>
          <hr>
          <form class="mb-3" method="POST" action="{{url_for('businessInfo')}}">
            <div class="form-group col-12">
              {{ form3.hidden_tag() }}
              {{ wtf.form_field(form3.currentemail) }}
            </div>
          </div>
          <div class="col-12 row no-gutters">
            <div class="form-group col-6">
              {{ wtf.form_field(form3.newemail) }}
            </div>
            <div class="form-group col-6">
              {{ wtf.form_field(form3.validateemail) }}
            </div>
          </div>
        <div class="col-12 text-center">
          <button>{{ wtf.form_field(form3.submit3) }}</button>
        </div>
        </form>
      </div>
    </div>
  </div>
  </div>

  <div class="modal fade" id="changebusinessname" tabindex="-1" role="dialog" aria-labelledby="changebusinessname" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">

        <div class="modal-body">
          <h2 class="card-title text-center mt-4">Change Business Name</h2>
          <hr>
          <form class="mb-3" method="POST" action="{{url_for('businessInfo')}}">
          <div class="col-12 row no-gutters">
            <div class="form-group col-6">
              {{ form4.hidden_tag() }}
              {{ wtf.form_field(form4.newname) }}
            </div>
            <div class="form-group col-6">
              {{ wtf.form_field(form4.validatename) }}
            </div>
          </div>
        <div class="col-12 text-center">
          <button>{{ wtf.form_field(form4.submit4) }}</button>
        </div>
        </form>
      </div>
    </div>
  </div>
  </div>

  <div class="modal fade" id="changebusinesswebsite" tabindex="-1" role="dialog" aria-labelledby="changebusinessnwebsite" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">

        <div class="modal-body">
          <h2 class="card-title text-center mt-4">Change Business Website</h2>
          <hr>
          <form class="mb-3" method="POST" action="{{url_for('businessInfo')}}">
          <div class="col-12 row no-gutters">
            <div class="form-group col-6">
              {{ form6.hidden_tag() }}
              {{ wtf.form_field(form6.newsite) }}
            </div>
            <div class="form-group col-6">
              {{ wtf.form_field(form6.validatesite) }}
            </div>
          </div>
        <div class="col-12 text-center">
          <button>{{ wtf.form_field(form6.submit6) }}</button>
        </div>
        </form>
      </div>
    </div>
  </div>
  </div>

  <div class="modal fade" id="changebalance" tabindex="-1" role="dialog" aria-labelledby="changebalance" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">

        <div class="modal-body">
          <h2 class="card-title text-center mt-4">Update Current Balance</h2>
          <hr>
          <form class="mb-3" method="POST" action="{{url_for('businessInfo')}}">
          <div class="col-12 row no-gutters">
            <p class="text-danger col-12">*This only updates your current bank balance! You will need to check your transactions if there are errors!*</p>
            <div class="form-group col-6">
              {{ form7.hidden_tag() }}
              {{ wtf.form_field(form7.newbalance) }}
            </div>
            <div class="form-group col-6">
              {{ wtf.form_field(form7.validatebalance) }}
            </div>
          </div>
        <div class="col-12 text-center">
          <button>{{ wtf.form_field(form7.submit7) }}</button>
        </div>
        </form>
      </div>
    </div>
  </div>
  </div>

  <div class="modal fade" id="changefiscalyear" tabindex="-1" role="dialog" aria-labelledby="changefiscalyear" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">

        <div class="modal-body">
          <h2 class="card-title text-center mt-4">Update Fiscal Year</h2>
          <hr>
          <form class="mb-3" method="POST" action="{{url_for('businessInfo')}}">
          <div class="col-12 row no-gutters">
            <div class="form-group col-6">
              {{ form8.hidden_tag() }}
              {{ wtf.form_field(form8.startyear) }}
            </div>
            <div class="form-group col-6">
              {{ wtf.form_field(form8.endyear) }}
            </div>
          </div>
        <div class="col-12 text-center">
          <button>{{ wtf.form_field(form8.submit8) }}</button>
        </div>
        </form>
      </div>
    </div>
  </div>
  </div>

  <div class="modal fade" id="changelogo" tabindex="-1" role="dialog" aria-labelledby="changelogo" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">

        <div class="modal-body">
          <h2 class="card-title text-center mt-4">Update Business Logo</h2>
          <hr>
          <form class="mb-3" method="POST" enctype="multipart/form-data" action="{{url_for('businessInfo')}}">
          <div class="col-12 row no-gutters">
            <div class="form-group col-6">
              {{ form9.hidden_tag() }}
              {{ wtf.form_field(form9.businesslogo) }}
            </div>
          </div>
        <div class="col-12 text-center">
          <button>{{ wtf.form_field(form9.submit9) }}</button>
        </div>
        </form>
      </div>
    </div>
  </div>
  </div>
  {% endblock %}