{% extends "main_template.html" %}

{% block bodytag %}
<body class="vh-100 vw-100">
{% endblock %}

{% block content %}

<div class="col-10 h-100 bg-light">
    <div class="col-11 row no-gutters mt-3">
        <div class="col-3 text-center grow">
            <a class="col-12"
                href="{{ url_for('totalLossStatement') }}"
                id="TotalLossStatement"><img src="{{ url_for('static', filename='assets/img/total-loss-statement-thumbnail.png') }}"
                    alt="Total Loss Statement" class="col-12" style="border-radius: 10px;"
                    id="totalLossThumbnail"></a>
            <p>Total Loss Statement</p>
        </div>
        <div class="col-3 text-center grow">
            <a class="col-12"
                href="{{ url_for('profitLossStatement') }}"
                id="profitLossStatement"><img src="{{ url_for('static', filename='assets/img/profit-loss-statement-thumbnail.png') }}"
                    alt="Profit/Loss Statement" class="col-12" style="border-radius: 10px;"
                    id="profitLossThumbnail"></a>
            <p>Profit/Loss Statement</p>
        </div>
        <div class="col-3 text-center grow">
            <a class="col-12"
                href="{{ url_for('equityStatement') }}"
                id="equityStatement"><img src="{{ url_for('static', filename='assets/img/equity-statement-thumbnail.png') }}"
                    alt="Equity Statement" class="col-12" style="border-radius: 10px;" id="equityThumbnail"></a>
            <p>Equity Statement</p>
        </div>
        <div class="col-3 text-center grow">
            <a class="col-12"
                href="{{ url_for('chartOfAccountsStatement') }}"
                id="chartOfAccounts"><img src="{{ url_for('static', filename='assets/img/chart-of-accounts-thumbnail.png') }}"
                    alt="Chart of Accounts" class="col-12" style="border-radius: 10px;"
                    id="chartOfAccountsThumbnail"></a>
            <p>Chart of Accounts</p>
        </div>
    </div>


    <div class="col-11 row no-gutters mt-3">
        <div class="col-3 text-center grow">
            <a class="col-12"
                href="{{ url_for('transactionLog') }}"
                id="transactionLog"><img src="{{ url_for('static', filename='assets/img/chart-of-accounts-thumbnail.png') }}"
                    alt="Transaction Log" class="col-12" style="border-radius: 10px;"></a>
            <p>Transaction Log</p>
        </div>
        <div class="col-3 text-center grow">
            <a class="col-12"
                href="{{ url_for('cashFlowStatement') }}"
                id="cashFlowStatement"><img src="{{ url_for('static', filename='assets/img/cash-flow-statement-thumbnail.png') }}"
                    alt="Cash Flow Statement" class="col-12" style="border-radius: 10px;"
                    id="cashFlowThumbnail"></a>
            <p>Cash Flow Statement</p>
        </div>
        <div class="col-3 text-center grow">
            <a class="col-12"
                href="{{ url_for('balanceStatement') }}"
                id="balanceStatement"><img src="{{ url_for('static', filename='assets/img/balance-statement-thumbnail.png')}}"
                    alt="Balance Statement" class="col-12" style="border-radius: 10px;"
                    id="balanceStatementThumbnail"></a>
            <p>Balance Statement</p>
        </div>
    </div>
</div>
</div>

{% endblock %}