{% import "bootstrap/wtf.html" as wtf %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Flow</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='assets/img/flowLogo.png' )}}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/bootstrap-grid.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/bootstrap-reboot.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/Chart.css') }}">
    <script src="{{ url_for('static', filename='assets/js/jquery.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/popper.js') }}"></script>
</head>

{% block bodytag %}{% endblock %}

<div class="row w-100 bg-light no-gutters contentArea">
    <nav class="navbar navbar-light bg-light fixed-top">
        <a class="navbar-brand" href="{{ url_for('mobileOverview') }}">{{current_user.businessname}}</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsingNavbar1">
            ☰
        </button>
        <div class="navbar-collapse collapse" id="collapsingNavbar1">
            <ul class="nav navbar-nav">
                <li class="nav-item">
                <a href="{{ url_for('mobileOverview') }}"><button class="col-12 mt-1">Overview</button></a>
            </li>

                <li class="nav-item">
                <div class="dropright w-100 mt-1">
                    <button type="button" class="dropdown-toggle col-12" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                        New Entry
                    </button>
                    <div class="dropdown-menu col-12" style="background-color: transparent; border: none;">
                        <a href="{{ url_for('mobileNewAccount') }}"><button class="col-12 btn-secondary">Add to Accounts</button></a>
                        <a href="{{ url_for('mobileNewVendor') }}"><button class="col-12 btn-secondary">New Vendor</button></a>
                        <a href="{{ url_for('mobileNewCustomer') }}"><button class="col-12 btn-secondary">New Customer</button></a>
                        <a href="{{ url_for('mobileNewEquipment') }}"><button class="col-12 btn-secondary">New Equipment</button></a>
                        <a href="{{ url_for('mobileNewTransaction') }}"><button class="col-12 btn-secondary">New Transaction</button></a>
                        <a href="{{ url_for('newPayable') }}"><button class="col-12 btn-secondary">Outstanding Payable</button></a>
                        <a href="{{ url_for('newReceivable') }}"><button class="col-12 btn-secondary">Outstanding Receivable</button></a>
                        <a href="{{ url_for('newOwnerInvestment') }}"><button class="col-12 btn-secondary">Owner Investment</button></a>
                        <a href="{{ url_for('newLongTermDebt') }}"><button class="col-12 btn-secondary">Long-Term Debt</button></a>
                    </div>
                </div>
            </li>

                <li class="nav-item">
                <div class="dropright w-100 mt-1">
                    <button type="button" class="dropdown-toggle col-12" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                        View
                    </button>
                    <div class="dropdown-menu" style="background-color: transparent; border: none;">
                        <a href="{{ url_for('viewDebts') }}"><button class="col-12 btn-secondary">Debts</button></a>
                        <a href="{{ url_for('viewEquipment') }}"><button class="col-12 btn-secondary">Equipment</button></a>
                        <a href="{{ url_for('viewInvestments') }}"><button class="col-12 btn-secondary">Investments</button></a>
                        <a href="{{ url_for('transactions') }}"><button class="col-12 btn-secondary">Transactions</button></a>
                        <a href="{{ url_for('accounts') }}"><button class="col-12 btn-secondary">Accounts</button></a>
                        <a href="{{ url_for('viewReceivables') }}"><button class="col-12 btn-secondary">Receivables</button></a>
                        <a href="{{ url_for('viewPayables') }}"><button class="col-12 btn-secondary">Payables</button></a>
                        <a href="{{ url_for('viewBalances') }}"><button class="col-12 btn-secondary">Balances</button></a>
                    </div>
                </div>
            </li>

                <li class="nav-item">
                <div class="dropright w-100 mt-1">
                    <button type="button" class="dropdown-toggle col-12" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                        Lists
                    </button>
                    <div class="dropdown-menu" style="background-color: transparent; border: none;">
                        <a href="{{ url_for('viewCustomers') }}"><button class="col-12 btn-secondary">Customer List</button></a>
                        <a href="{{ url_for('viewVendors') }}"><button class="col-12 btn-secondary">Vendor List</button></a>
                    </div>
                </div>
            </li>

                <li class="nav-item">
                <a href="{{ url_for('statements') }}"><button class="col-12 mt-1">Statements</button></a>
            </li>

                <li class="nav-item">
                <a href="{{ url_for('accountChart') }}"><button class="col-12 mt-1 active">Chart of
                        Accounts</button></a>
                    </li>

                        <li class="nav-item">
                <a href="{{ url_for('businessInfo') }}"><button class="col-12 mt-1">Business Info</button></a>
            </li>

                <li class="nav-item">
                <a href="{{ url_for('feedback') }}"><button class="col-12 mt-1">Feedback</button></a>
            </li>

                <li class="nav-item">
                <button class="col-12 mt-1" data-toggle="modal" data-target="#logOutValidation">Log Out</button>
            </li>
            </ul>
        </div>
    </nav>

    <div class="modal fade" id="logOutValidation" tabindex="-1" role="dialog" aria-labelledby="logOutValidation"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">

                <div class="modal-body">
                    <p>Are you sure you want to log out? </p>
                    <p class="text-danger">Be sure to log out after your session is complete</p>
                </div>
                <div class="modal-footer">
                    <button type="button" data-dismiss="modal">Cancel</button>
                    <a href="{{ url_for('logout') }}" style="text-decoration: none;"><button type="button">Log
                            Out</button></a>
                </div>
            </div>
        </div>
    </div>
    {% if current_user.member == True %}
    {% block content %} {% endblock %}
    {% endif %}

    {% if current_user.member ==False %}
    <div class="col-10 row no-gutters justify-content-center">
        <h3 class="col-12 text-center text-light bg-danger h-10">
            To use Flow, you must set up your subscription.  If your subscription ended, you will have to restart it.
        </h3>
        <div class="col-12 h-80 text-center">
            <a href="{{ url_for('subscribe') }}"><button>Subscribe</button></a>
        </div>
    </div>
    {% endif %}


    <script src="{{ url_for('static', filename='assets/js/miscFunctions.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/Chart.bundle.min.js') }}"></script>
    </body>

</html>