{% extends "main_template.html" %}

{% block bodytag %}

<body class="vh-100 vw-100">
    {% endblock %}

    {% block content %}

    <script>
        $(document).ready(function () {
            var messages = "{{ get_flashed_messages() }}";

            if (typeof messages != 'undefined' && messages != '[]') {
                $("#transactionMessage").modal();
            };
        });

        $(document).ready(function () {
            $('.table tr td').each(function (i, v) {
                if (v.textContent === 'Income') {
                    $(v.parentElement).addClass('table-success text-dark');
                } else if (v.textContent === 'Expense') {
                    $(v.parentElement).addClass('table-danger text-dark');
                }
            })
        })
    </script>

    <div class="col-10 h-100 bg-dark">
        <div class="col-12 h-90 bg-dark well">
            <table class="table table-scroll bg-dark table-dark col-12 h-90 text-left">
                <thead>
                    <tr>
                        <th scope="column">Account</th>
                        <th scope="column">ID</th>
                        <th scope="column">Type</th>
                        <th scope="column">Method</th>
                        <th scope="column">Source</th>
                        <th scope="column">Desc</th>
                        <th scope="column">Total</th>
                        <th scope="column">Reason</th>
                        <th scope="column">Date</th>
                    </tr>
                </thead>
                <tbody>
                    {% for row in rows %}
                    <tr>
                        <td>{{row.accountid}}</td>
                        <td>{{row.transactionid}}</td>
                        <td>{{row.transactiontype}}</td>
                        <td>{{row.transactionmethod}}</td>
                        <td>{{row.transactionsource}}</td>
                        <td>{{row.transactiondescription}}</td>
                        <td>${{row.totalamount}}</td>
                        <td>{{row.transactionreason}}</td>
                        <td>{{row.transactiondate}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-12 row justify-content-center">
            <div class="col-6 row no-gutters">
                <button data-toggle="modal" data-target="#modifyTransaction" class="col-3">Modify</button>
                <button data-toggle="modal" data-target="#deleteTransaction" class="col-3">Delete</button>
                <button data-toggle="modal" data-target="#queryTransaction" class="col-3">Search</button>
            </div>
        </div>
    </div>

    <div id="transactionMessage" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    {% with messages = get_flashed_messages(category_filter=["error"]) %}
                    {% if messages %}
                    {% for message in messages %}
                    <div class="alert alert-danger text-center">
                        <div class=flashes>
                            {% for message in messages %}
                            {{ message }}
                            {% endfor %}
                        </div>
                    </div>
                    {% endfor %}
                    {% endif %}
                    {% endwith %}
                    {% with messages = get_flashed_messages(category_filter=["success"]) %}
                    {% if messages %}
                    {% for message in messages %}
                    <div class="alert alert-success text-center">
                        <div class=flashes>
                            {% for message in messages %}
                            {{ message }}
                            {% endfor %}
                        </div>
                    </div>
                    {% endfor %}
                    {% endif %}
                    {% endwith %}
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>

            </div>
        </div>
    </div>
    </div>




    <!-- MODALS FOR TRANSACTION MODIFICATION/DELETION -->

    <div class="modal fade" id="modifyTransaction" tabindex="-1" role="dialog" aria-labelledby="modifyTransaction"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">

                <div class="modal-body">
                    <h2 class="card-title text-center mt-4">Modify Transaction</h2>
                    <hr>
                    <form class="mb-3" method="POST" action="{{url_for('transactions')}}">
                        <div class="row no-gutters col-12">
                            <div class="form-group col-5 mx-auto">
                                {{ form3.hidden_tag() }}
                                {{ wtf.form_field(form3.transactionnumber3) }}
                            </div>
                            <div class="form-group col-5 mx-auto">
                                {{ wtf.form_field(form3.transactionamount) }}
                            </div>
                        </div>
                        <div class="row col-12 no-gutters">
                            <div class="form-group col-5 mx-auto">
                                {{ wtf.form_field(form3.transactionmethod) }}
                            </div>
                            <div class="form-group col-5 mx-auto">
                                {{ wtf.form_field(form3.transactiondescription) }}
                            </div>
                        </div>
                        <div class="row col-12 no-gutters">
                            <div class="form-group col-11 mx-auto">
                                {{ wtf.form_field(form3.transactiondate) }}
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button>{{ wtf.form_field(form3.submit3) }}</button>
                            <button type="button" data-dismiss="modal">Cancel</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="deleteTransaction" tabindex="-1" role="dialog" aria-labelledby="deleteTransaction"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">

                <div class="modal-body">
                    <h2 class="card-title text-center mt-4">Delete Transaction</h2>
                    <hr>
                    <form class="mb-3" method="POST" action="{{url_for('transactions')}}">
                        <div class="form-group col-11 mx-auto">
                            {{ form2.hidden_tag() }}
                            {{ wtf.form_field(form2.transactionnumber2) }}
                        </div>
                        <div class="modal-footer">
                            <button>{{ wtf.form_field(form2.submit2) }}</button>
                            <button type="button" data-dismiss="modal">Cancel</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="queryTransaction" tabindex="-1" role="dialog" aria-labelledby="queryTransaction"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">

                <div class="modal-body">
                    <h2 class="card-title text-center mt-4">Search Transactions</h2>
                    <hr>
                    <form class="mb-3" method="GET" action="{{url_for('transactionsAdjusted')}}">
                        <div class="row no-gutters col-12">
                            <label for="dateRangeQuery" class="col-12 mt-1"><b>Check between two dates</b></label>
                            <div class="col-8 mt-1">
                                {{ form1.hidden_tag() }}
                                {{ wtf.form_field(form1.rangestart) }}
                                {{ wtf.form_field(form1.rangeend) }}
                            </div>
                            <div class="modal-footer">
                                <button>{{ wtf.form_field(form1.submit1) }}</button>
                    </form>
                    <button type="button" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>

    {% endblock %}